@import '../styles/variables';


.container{
    width: 100%;
    height: 90vh;
    position: relative;
}

.circleTopLeft, .circleTopRight,
.circleBottomLeft, .circleBottomRight{
    position: absolute;
}

.circleTopLeft{
    transform: translate(1rem, 1rem); 
}

.circleTopRight{
    right: .5rem;
    top: 1rem;
    transform: rotate(90deg);
}

.circleBottomLeft{
    bottom: 0;
    transform: rotate(-80deg) translate(1.3rem, .5rem);
}

.circleBottomRight{
    bottom: 0;
    right: 0;
    transform: rotate(-180deg) translate(.5rem, 1rem);
}

.top, .right,
.bottom, .left{
    color: $primary-color;
    text-transform: uppercase;
    position: absolute;
    font-family: $bold-font;
    letter-spacing: .2rem;
}

.top{
    left: 50%;
    transform: translate(-50%, 1rem);
}

.right{
    top: 321.8px;
    right: 0;
    transform: translate(-2rem, 8rem) rotate(90deg);
    transform-origin: bottom right;
}

.bottom{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1rem) rotate(180deg);
}

.left{
    top: 321.8px;
    transform: translate(2rem, 8rem) rotate(270deg);
    transform-origin: bottom left;  
}