@import "../../styles/mixins.scss";
@import "../../styles/variables";


.slideMenu{
    width: 93.75%;
    transform: translate(3rem, -80rem);
    height: 100vh;
    position: absolute;
    background-color: $dark-color;
    transition: all .5s ease-in-out;
    z-index: 500;

    @include md{
        height: 0;
    }

    & ul{
        @include centered(column, center);
        height: 100%;
        width: 100%;
        color: black;
        font-size: 5rem;
        z-index: 500;
        font-family: $bold-font;

        a{
            color: $light-color;
            text-transform: uppercase;
            letter-spacing: .1rem;

            &:hover{
                color: $primary-color;
            }
        }
    }
 
}

.menuOpen {
    transform: translate(3rem, 0);
    width: 93.75%;
    height: 100vh;
    position: absolute;
    background-color: $dark-color;
    transition: all .3s ease-in-out;
    z-index: 500;

    @include md{
        width: 100%;
        transform: translate(0, 0);
    }

    & ul{
        @include centered(column, center);
        height: 100%;
        width: 100%;
        color: black;
        font-size: 5rem;
        z-index: 500;
        font-family: $bold-font;

        a{
            color: $light-color;
            text-transform: uppercase;
            letter-spacing: .1rem;

            &:hover{
                color: $primary-color;
            }
        }
    }
}

.nav{
    @include centered(center, space-between);
    width: 93.75%;
    margin: 0 auto;
    padding: 0 2rem;
    transform: translateY(4.5rem);
    z-index: 600;
    position: relative;



    .logo{
        font-weight: 900;
        font-size: 1.7rem;
        background-color: $dark-color;
        padding: .3rem 1.5rem;
        font-family: $bold-font;

        a{
            color: $light-color; 
            font-size: 2rem
        }
    }
    
    .navElements{
        @include centered(center, space-between);
        width: 200px;

        a{
            color: $light-color;
            font-family: $bold-font;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 1.3rem;
        }
    }
}


