/* Colors */
$dark-color: #000;
$dark-light-color:#242424;
$light-color: #fefefe;
$primary-color: #72E9EB;

.cal{
    color: #55fcff;
    color: rgb(122, 229, 231);
}

/* Fonts */
$main-font: 'montserrat', sans-serif;
$bold-font: 'Anton', sans-serif;