@import '../styles/mixins';
@import '../styles/variables';


.Work::-webkit-scrollbar {
  width: 16px;
}

.Work::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.Work::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 100px;
}

.Work {
  width: 93.75%;
  max-width: 100%;
  height: 40.225rem;
  overflow-x:hidden; 
  overflow-y:auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-color;

  @include md{
    width: 100%;
 /*    height: 30.225rem; */
  }
 
  .firstRow{
      margin-top: 3rem;
  }
  .firstRow,
  .secondRow,
  .thirdRow {
      padding: 0 3%;
      height: 85vh;
      @include centered(center, initial);

      @include md{
        @include centered(column, center);
       /*  margin-top: 3rem;   */      
        height: 100vh;    
    }

    .boxImage {
        flex: 55%;
        cursor: pointer;
        box-shadow: 0 0 13px #6fbfc0;
        transition: all .2s ease-in-out;
        @include centered(center, initial);
        

        @include md{
          flex: 0;   
          margin-bottom: 3rem;   
         
      }

        &:hover{
            box-shadow: 0 0 19px $primary-color;
        }

      & .img {
        filter: grayscale(100%);
        margin: 0 auto;
        transition: all .3s ease-in-out;

        &:hover{
            filter: grayscale(0);
        }
      }
    }

    .description {
        flex: 40%;
        color: $light-color;
        padding: 0 3rem;

        @include md{
          flex: 0;  
          padding: 0;    
      }
      h2 {
          font-family: $bold-font;
          letter-spacing: .2rem;
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 1rem;
          color: $primary-color;

      }

      p {
          font-family: $main-font;
          line-height: 1.6rem;
          font-size: 1.05rem;
          margin-bottom: .5rem;
          color: rgb(197, 197, 197);
      }
    }
  }
}
